{% extends 'layouts/admin.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
	<main class="pt-5 mx-lg-5">
		<div class="container-fluid mt-5">

			<h1>Gérer les biens</h1>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}

			<table id="dtBasicExample" class="table" width="100%">
				<thead>
					<tr>
						<th class="th-sm">Titre</th>
						<th class="th-sm">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for property in properties %}
						<tr>
							<td>
								{{ property.title }}
							</td>
							<td>
								<a href="{{ path('property_edit', {id: property.id}) }}" class="btn btn-secondary">Editer</a>
								<form method="post" action="{{ path('property_delete', {id: property.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
									<button class="btn btn-danger">Supprimer</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="text-right">
				<a href="{{ path('property_new') }} " class="btn btn-primary">Créer un nouveau bien</a>
			</div>
			<br><br>
			<div class="pagination">
				{{ knp_pagination_render(properties) }}
			</div>
		</div>
	</main>
{% endblock %}
