{% extends 'base.html.twig' %}

{% block title %}Ads
{% endblock %}

{% block body %}
	<h1>Ads</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ ad.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ ad.title }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ ad.content }}</td>
			</tr>
			<tr>
				<th>Quartier(s)</th>
				<td>{{ ad.address }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ ad.price }}</td>
			</tr>
			<tr>
				<th>Charges</th>
				<td>{{ ad.charges }}</td>
			</tr>
			<tr>
				<th>Date de sortie</th>
				<td>{{ ad.releaseDate ? ad.releaseDate|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Statut</th>
				<td>{{ ad.status ? 'Yes' : 'No' }}</td>
			</tr>
			<tr>
				<th>Created_at</th>
				<td>{{ ad.createdAt ? ad.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Updated_at</th>
				<td>{{ ad.updatedAt ? ad.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('ads_index') }}">Retour à la liste</a>

	<a href="{{ path('ads_edit', {'id': ad.id}) }}">Modifier</a>

	{{ include('ads/_delete_form.html.twig') }}
{% endblock %}
